<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">    
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
<!--
     <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/confirm.css">
    <link rel="stylesheet" href="../static/css/style.css"> 
-->
</head>
<body>
    <h1>Thank you for RSVP-ing, <br>you should recieve a confirmation email shortly.</h1>
    <h3>(If you don't see it in a few minutes, check your spam folder)</h3>
    <a href="/">Return to main page.</a>
</body>
</html>