<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/default.css' %}"> 
</head>
<style>
    body {
        background-color: linen;
    }
    
    .user {
        background-color: rgb(128, 192, 211);
        padding: 20px;
    } 
    p {
        color : linen;
        font-size: 28px;
    }
    strong {
        color: black;
        font-size: 14px;
    }
    </style>
<body>
    <h1>Attendees with Wristbands</h1>
    {% for user in users %}
    <hr>
    <div class="user">
    <p><strong>Name:</strong>{{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong>{{user.email}}</p>
    <p><strong>Invitation Number:</strong>{{user.invitation}}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>