<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
    <h1>Gallery</h1>
    <div id=imgDiv>
        {% for img in imgs %}
        <a href="{{img}}" >
            <img src="{% static img %}" alt="{{img}}" onclick="">
        </a>
        {% endfor %}
        <a href="gallery_backward">----BACK----</a>
        <a href="gallery_foward">----FOWARD----</a>
        <h2>{{index}}</h2>
    </div>

</body>
</html>
<script>

</script>