<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THANK YOU</title>
<!--    <link rel="stylesheet" href="../static/css/default.css">-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <link rel="stylesheet" href="../static/css/update3-0.css">-->


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/update3-0.css' %}">
</head>

<body>

    <div class='logo'>
        <img src="../static/vectors/redbullcurates.svg" alt="">
    </div>
    <h1>VILLA RIAD</h1>
    <div class="main">
        <h2>THANK YOU SO MUCH FOR JOINING US</h2>
        
        <div class="video">
            <video controls src="../static/img/video.mp4"></video>
        </div>
        <p>Click below to check out the pics, and post with #RedBullCuratesChi!</p>
        <a class = 'link' href="/gallery">Gallery</a>
    </div>

    <script src = '../static/js/video.js'></script>
</body>
</html>
