<!DOCTYPE html>
<html lang="English">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedBull Curates</title>
     <link rel="stylesheet" href="../static/css/default.css">  
     <link rel="stylesheet" href="../static/css/style.css">  
     <link rel="stylesheet" href="../static/css/main.css">  
     <link rel="stylesheet" href="../static/css/nav.css">  
     <link rel="stylesheet" href="../static/css/specific.css">  
     <link rel="stylesheet" href="../static/css/mobile.css">  

<!--                {% load static %}-->
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/specific.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">

</head>

<body>
    <nav>
        <div class='blanket'></div>
        <div class='container'>
            <div><img position=1 class='currentNav' src="../static/vectors/Mandala.svg" alt="Mandala"><svg class='shrink' position=1>
                      <circle/>
                        </svg>

            </div>
            <div><img position=1.5 class='dormantNav' src="../static/vectors/Mandala.svg" alt="Plus">
                <svg position=1.5>
                      <circle/>
                        </svg>
                <div class='side-text'>CO-CURATORS</div>
            </div>

            <div><img position=2 class='dormantNav' src="../static/vectors/Mandala.svg" alt="Plus">
                <svg position=2>
                      <circle/>
                        </svg>
                <div class='side-text'>WHAT WHEN WHERE</div>
            </div>
            <div><img position=3 class='dormantNav' src="../static/vectors/Mandala.svg" alt="Plus">
                <svg position=3>
                      <circle/>
                        </svg>
                <div class='side-text'>SCHEDULE</div>
            </div>
            <div><img position=4 class='dormantNav' src="../static/vectors/Mandala.svg" alt="Plus">
                <svg position=4>
                      <circle/>
                        </svg>
                <div class='side-text'>PERFORMERS</div>
            </div>
            <div><img position=5 class='dormantNav' src="../static/vectors/Mandala.svg" alt="Plus">
                <svg position=5>
                      <circle/>
                        </svg>
                <div class='side-text'>RSVP</div>
            </div>

        </div>
    </nav>


    <div class='background'><img src="../static/img/Background.png" alt=""></div>

    <div class='main'>
        <div class='container' id='left'>

            <div position=5 class='module containerFloat'>


                <img class='svg' src="../static/vectors/RSVP/RSVPletter.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPphone.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPspeechbubble.svg" alt="">

                <img class='svg' src="../static/vectors/RSVP/RSVPletter.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPphone.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPspeechbubble.svg" alt="">

                <img class='svg' src="../static/vectors/RSVP/RSVPletter.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPphone.svg" alt="">
                <img class='svg' src="../static/vectors/RSVP/RSVPspeechbubble.svg" alt="">

                <img class='titleImg lax' src="../static/vectors/RSVP.svg" alt="">

            </div>

            <div position=4 class='module fourth containerFloat'>


                <img class='svg' src="../static/vectors/Performers/PerformerLightning.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersBoom.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersMic.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersTURNTABLE.svg" alt="">


                <img class='svg' src="../static/vectors/Performers/PerformerLightning.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersBoom.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersMic.svg" alt="">
                <img class='svg' src="../static/vectors/Performers/PerformersTURNTABLE.svg" alt="">

                <img class='titleImg lax' src="../static/vectors/PERFORMERS.svg" alt="performers">
            </div>

            <div position=3 class='module third containerFloat'>



                <img class='svg' src="../static/vectors/Collaborators/CollabBarber.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/Collabcocktail.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/CollabFork.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/CollabNailPolish.svg" alt="">

                <img class='svg' src="../static/vectors/Collaborators/CollabBarber.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/Collabcocktail.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/CollabFork.svg" alt="">
                <img class='svg' src="../static/vectors/Collaborators/CollabNailPolish.svg" alt="">


                <img class='titleImg lax' src="../static/vectors/COLLABORATORS.svg" alt=""></div>

            <div position=2 class='module second containerFloat'>


                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWclock.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWdoublearrow.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWquestionmark.svg" alt="">

                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWclock.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWdoublearrow.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWquestionmark.svg" alt="">


                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWclock.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWdoublearrow.svg" alt="">
                <img class='svg' src="../static/vectors/WhatWhereWhen/WWWquestionmark.svg" alt="">

                <img class='titleImg lax' src="../static/vectors/WHATWHEREWHEN.svg" alt="What Where When">
            </div>

            <div position=1.5 class="module sixth">
                <img class='main-curate' src="../static/vectors/Logos/RoxwellPerfLogo.svg" alt="">
                <div class="flex-box">

                    <div class="top left">

                        <img src="../static/vectors/Logos/ParadigmLandingLogo.svg" alt="">
                        <img src="../static/vectors/Logos/PaxahauLandingLogo.svg" alt="">
                    </div>

                    <div class="center c-left">

                        <img src="../static/vectors/Logos/EntenteLandingLogo.svg" alt="">
                        <img src="../static/vectors/Logos/GreyGhostLandingLogo.svg" alt="">
                        <img id = 'stock' src="../static/vectors/Logos/stockmfg.svg" alt="">

                    </div>

                    <div class="bottom">

                        <img src="../static/vectors/Logos/WheatleyLogoLanding.svg" alt="">
                        <img src="../static/vectors/Logos/FewLandingLogo.svg" alt="">
                        <img src="../static/vectors/Logos/CorazonLandingLogo.svg" alt="">


                    </div>
                </div>
            </div>


            <div position=1 class='view module first start'>
                <img src="../static/vectors/REDBULL.svg" alt="">
                <h1>VILLA</h1>

            </div>


        </div>
        <div class='container' id='right'>

            <div position=1 class='view module edge-top first start'>
                <img src="../static/vectors/CURATES.svg" alt="">
                <h1>RIAD</h1>

                <h2 position=5 id="rsvp-top">RSVP</h2>


            </div>
            <div position=1.5 class="module sixth">
                <img class="main-curate rightRox" src="../static/vectors/Logos/Bam.svg" alt="">
                <div class="flex-box">


                    <div class="top right">
                        <img src="../static/vectors/Logos/1833LandingLogo.svg" alt="">
                        <img src="../static/vectors/Logos/ColdChillenLandingLogo.svg" alt="">

                    </div>

                    <div class="center c-right">
                        <img src="../static/vectors/Logos/LeLabo.svg" alt="">
                        <img src="../static/vectors/Logos/AstroWifey.svg" alt="">
                        <img src="../static/vectors/Logos/BlindBarberGrey%20(1).svg" alt="">
                        <img src="../static/vectors/Logos/fixyourkicks.svg" alt="">


                    </div>

                    <div class="bottom">
                        <img src="../static/vectors/Logos/HendricksLandingLogo.svg" alt="">

                        <img src="../static/vectors/Logos/StolenRumLandingLogo.svg" alt="">

                        <img src="../static/vectors/Logos/LaMarcaLogoLanding.svg" alt="">
                        <img src="../static/vectors/Logos/OldStyleLandingLogo.svg" alt="">

                    </div>
                </div>

            </div>
            <div position=2 class='module second'>
                <div class='lax'>
                    <h2>VILLA RIAD</h2>
                    <p><em>Pronounced (vil-uh) (ree-ahd). </em><br>Red Bull Curates: Villa Riad is a fully catered, ​invite-only​, industry event. <br><br> In the true spirit of summer, Villa Riad ​looks to deliver an elevated escape fit for our special invited industry guests' high standards​. We look to transport guests to a lavish lush oasis getaway in the middle of the city. Plan to be whisked a world away from the Chicago metropolis​. Villa Riad will be a feast for the senses of all partygoers</p>
                </div>
                <div class='lax'>
                    <br><br><br>
                    <h2>SUN AUG 05 2018</h2>
                    <p>BEGINS @ 5PM.</p>
                </div>
                <div class='lax'>
                    <h2>UNDISCLOSED LOCATION</h2>
                    <p>Shhhh. The location is a secret. It will be within Chicago proper. You will receive info via your invite RSVP 24 hours before the event day. Stay Tuned to your emails!</p>
                </div>
            </div>
<!--START CHANGE-->
            <div position=3 class='module third'>
                <ul>
                    <li class='lax'><svg><circle/></svg>
                        <h2>Grey Ghost</h2>
                        <p>Cocktail Menu Curation</p>
                    </li>
                    <li class='lax'><svg><circle/></svg>
                        <h2>Brian Fisher</h2>
                        <p>Food Menu Curation</p>
                    </li>
                    <li class='lax'><svg><circle/></svg>
                        <h2>The Blind Barber</h2>
                        <p>Barbershop</p>
                    </li>
                    <li class='lax'><svg><circle/></svg>
                        <h2>Astro Wifey</h2>
                        <p>Nail Art</p>
                    </li>

                    <li class='lax'><svg><circle/></svg>
                        <h2>Stock MFG</h2>
                        <p>Gear Curation</p>
                    </li>
                    <li class='lax'><svg><circle/></svg>
                        <h2>Le Labo</h2>
                        <p>Fragrance Curation</p>
                    </li>
                </ul>
            </div>

            <div position=4 class='module fourth'>
                <div class="grid">
                    <div class="flex top">
                        <div>
                            <img src="../static/img/JustinMartin(1).jpg" alt="">
                            <a class="overlay" href="https://www.liaisonartists.com/artists/justin-martin/" target="_blank">
                                <h2>Justin Martin</h2>
                                <p>(Dirtybird) <br><br>Hosted by: Paradigm x Paxahau</p>
                            </a>
                        </div>
                        <div>
                            <img src="../static/img/JPhlip(1).jpg" alt="">
                            <a class="overlay" href="https://www.liaisonartists.com/artists/j-phlip/" target="_blank">
                                <h2>J.Phlip</h2>
                                <p>(Dirtybird) <br><br>Hosted by: Paradigm x Paxahau</p>
                            </a>
                        </div>
                        <div>
                            <img src="../static/img/GeneFarris.jpg" alt="">
                            <a class="overlay" href="https://www.residentadvisor.net/dj/genefarris/biography
" target="_blank">
                                <h2>Gene Farris</h2>
                                <p>(Dirtybird) <br><br>Hosted by: Paradigm <br>x Paxahau</p>
                            </a>
                        </div>
                    </div>

                    <div class='flex middle'>
                        <div>
                            <img src="../static/img/JRocc.jpg" alt="">
                            <a class="overlay" href="https://www.beatjunkies.com/crew/
" target="_blank">
                                <h2>J Rocc</h2>
                                <p>(Beat Junkies/Stones Throw) <br><br>Hosted by: 1833</p>
                            </a>
                        </div>

                        <div>

                            <img src="../static/img/Just_Blaze_720x720.jpg" alt="">
                            <a class="overlay" href="https://en.wikipedia.org/wiki/Just_Blaze
" target="_blank">
                                <h2>Just Blaze</h2>
                                <p>(Fort Knocks) <br><br>Hosted by: Cold Chillen</p>
                            </a>
                        </div>
                    </div>

                    <div class="bottom flex">

                        <div>
                            <img src="../static/img/SaharHabibi.jpg" alt="">
                            <div class="overlay">
                                <h2>Sahar Habibi</h2>
                                <p>(Soulection) <br><br>Hosted by: Roxwell</p>
                            </div>
                        </div>
                        <div>
                            <img src="../static/img/RaeChardonnay.jpg" alt="">
                            <div class="overlay">
                                <h2>Rae Chardonnay</h2>
                                <p>(Party Noir) <br><br>Hosted by: Roxwell</p>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

            <div position=5 class='module edge-bottom fifth'>
                <form action="/form_input" method="POST" class="lax">
                    {% csrf_token %}
                    <div class='first'>
                        <ty>First Name*</ty><input name="first_name" type="text"></div>
                    <div class='last'>
                        <ty>Last Name*</ty><input name="last_name" type="text"></div>
                    <div class='email'>
                        <ty>Email*</ty><input name="email" type="text"></div>
                    <div class='cell'>
                        <ty>Cell Phone*</ty><input name="phone" type="text"></div>
                    <div class="">
                        <ty>Industry Affiliation</ty><input name="affiliation" type="text">
                    </div>
                    <div class="">
                        <ty>Who extended your invitation?</ty><input name="referall" type="text">
                    </div>
                    <div class=''>
                        <ty style = ''>Must have valid wristband to RSVP.</ty>
                        <div class='checkboxes'>


                            <span>Yes</span>
                            <div name='yes' class='fakebox'>
                                <div class='check hide'></div>
                            </div>
                            <input name='yes' type="checkbox" checked>
                            <span>No</span>
                            <div name='no' class='fakebox'>
                                <div class="check hide"></div>
                            </div>
                            <input name='no' type="checkbox">

                        </div>

                    </div>
                    <div class='lax'>
                        <ty class='invitation-text'>Wristband number *</ty><input name="invitation" type="text" class='invitation'></div>
                    <div class='submit lax'><button type = 'button'  name='button'>SUBMIT</button></div>
                </form>

                <div class="subtext lax">
                    <p>Red Bull Curates: Villa Riad is​ ​a private event​ ​intended for members of the Nightlife + Hospitality industries.</p>
                    <br>
                    <p>Please make sure to list your affiliation on the RSVP form.​ ​Guests should have a wristband invite and must RSVP to gain access. Please make sure to include the invite number located on your invite wristband.</p>
                </div>
                <h2 id="back-to-top">Back to top</h2>

            </div>
        </div>
        <img position=1 class='arrow svg' src="../static/vectors/LandingArrow.svg" alt="">

        <img position=2 class='arrow svg' src="/../static/vectors/WhatWhereWhen/WWWarrow.svg" alt="">
        <img position=3 class='arrow svg' src="/../static/vectors/Collaborators/CollabArrow.svg" alt="">
        <img position=4 class='arrow svg' src="/../static/vectors/Performers/PerformersArrow.svg" alt="">
        <img position=1.5 class='arrow svg' src="../static/vectors/LandingArrow.svg" alt="">
        <script src="../static/js/nav.js"></script>
        <script src="../static/js/script.js"></script>
        <script src="../static/js/float.js"></script>
        <script src='../static/js/scale.js'></script>
    </div>

    <div id="mobile">
        <div class="background-mobile">
            <img src="../static/img/Background.png" alt="">
        </div>
        <div class="mobile-section landing">
            <div><img src="../static/vectors/REDBULL.svg" alt="">
                <img src="../static/vectors/CURATES.svg" alt=""></div>
            <h1>VILLA RIAD</h1>
        </div>

        <div class="mobile-section curators">
            

            <div class="flex-box top">
               <img class="larger big" src="../static/vectors/Logos/RoxwellPerfLogo.svg" alt="">
            <img class="larger big" src="../static/vectors/Logos/Bam.svg" alt="">
                <img class = 'larger' src="../static/vectors/Logos/ParadigmLandingLogo.svg" alt="">
                <img class = 'larger' src="../static/vectors/Logos/PaxahauLandingLogo.svg" alt="">
                <img class = 'larger'  src="../static/vectors/Logos/1833LandingLogo.svg" alt="">
                <img class = 'larger'  src="../static/vectors/Logos/ColdChillenLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/GreyGhostLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/stockmfg.svg" alt="">
                <img src="../static/vectors/Logos/EntenteLandingLogo.svg" alt=""><img src="../static/vectors/Logos/LeLabo.svg" alt="">
                <img class="smaller" src="../static/vectors/Logos/BlindBarberGrey%20(1).svg" alt="">
                <img class="smaller" src="../static/vectors/Logos/AstroWifey.svg" alt="">
                <img class="smaller" src="../static/vectors/Logos/fixyourkicks.svg" alt="">
            </div>
            <div class="flex-box bottom">
                <img src="../static/vectors/Logos/WheatleyLogoLanding.svg" alt="">
                <img src="../static/vectors/Logos/FewLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/CorazonLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/HendricksLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/StolenRumLandingLogo.svg" alt="">
                <img src="../static/vectors/Logos/LaMarcaLogoLanding.svg" alt="">
                <img src="../static/vectors/Logos/OldStyleLandingLogo.svg" alt="">
            </div>
        </div>

        <div class="mobile-section www">
            <div class="mobile-header">
                <img src="../static/vectors/WhatWhereWhen/WWWquestionmark.svg" alt="">
                <img src="../static/vectors/WhatWhereWhen/WWWdoublearrow.svg" alt="">
                <img src="../static/vectors/WhatWhereWhen/WWWclock.svg" alt="">

                <h2>WHAT WHEN WHERE</h2>
            </div>
            <div class="mobile-body">
                <div>
                    <h3>VILLA RIAD</h3>
                    <p><em>Pronounced (vil-uh) (ree-ahd).</em> <br>Red Bull Curates: Villa Riad is a fully catered, ​invite-only​, industry event.

                        <br><br> In the true spirit of summer, Villa Riad ​looks to deliver an elevated escape fit for our special invited industry guests' high standards​. We look to transport guests to a lavish lush oasis getaway in the middle of the city. Plan to be whisked a world away from the Chicago metropolis​. Villa Riad will be a feast for the senses of all partygoers</p>
                </div>

                <div>
                    <h3>SUNDAY <br> AUG 05 2018</h3>
                    <p>BEGINS @ 5PM.</p>
                </div>

                <div>
                    <h3>UNDISCLOSED <br> LOCATION</h3>
                    <p>Shhhh. The location is a secret. It will be within Chicago proper. You will receive info via your invite RSVP 24 hours before the event day. Stay Tuned to your emails!</p>
                </div>

            </div>
        </div>

        <div class="mobile-section collab">
            <div class="mobile-header">
                <img src="../static/vectors/Collaborators/CollabNailPolish.svg" alt="">
                <img src="../static/vectors/Collaborators/CollabShirt.svg" alt="">
                <img src="../static/vectors/Collaborators/CollabFork.svg" alt="">
                <img src="../static/vectors/Collaborators/Collabcocktail.svg" alt="">
                <img src="../static/vectors/Collaborators/CollabBarber.svg" alt="">
                <h2>SCHEDULE</h2>
            </div>
            <div class="mobile-body ">
                <ul>
                    <li>
                        <h3>Grey Ghost</h3>
                        <p>Cocktail Menu Curation</p>
                    </li>

                    <li>
                        <h3>Brian Fisher</h3>
                        <p>Food Menu Curation</p>
                    </li>

                    <li>
                        <h3>The Blind Barber</h3>
                        <p>Barbershop</p>
                    </li>

                    <li>
                        <h3>Astro Wifey</h3>
                        <p>Nail Art</p>
                    </li>


                    <li>
                        <h3>Stock MFG</h3>
                        <p>Gear Curation</p>
                    </li>
                    <li>
                        <h3>Le Labo</h3>
                        <p>Fragrance Curation</p>
                    </li>

                </ul>

            </div>
        </div>

        <div class="mobile-section performers">
            <div class="mobile-header">
                <img src="../static/vectors/Performers/PerformersTURNTABLE.svg" alt="">
                <img src="../static/vectors/Performers/PerformersMic.svg" alt="">
                <img src="../static/vectors/Performers/PerformersBoom.svg" alt="">
                <img src="../static/vectors/Performers/PerformerLightning.svg" alt="">
                <h2>PERFORMERS</h2>
            </div>
            <div class="mobile-body">
                <div class="grid">
                    <div>
                        <img src="../static/img/JustinMartin(1).jpg" alt="">
                        <a class="overlay" href="https://www.liaisonartists.com/artists/justin-martin/" target="_blank">
                            <h2>Justin Martin</h2>
                            <p>(Dirtybird) <br><br>Hosted by: Paradigm x Paxahau</p>
                        </a>
                    </div>
                    <div>
                        <img src="../static/img/JPhlip(1).jpg" alt="">
                        <a class="overlay" href="https://www.liaisonartists.com/artists/j-phlip/" target="_blank">
                            <h2>J.Phlip</h2>
                            <p>(Dirtybird) <br><br>Hosted by: Paradigm x Paxahau</p>
                        </a>
                    </div>
                    <div>
                        <img src="../static/img/GeneFarris.jpg" alt="">
                        <a class="overlay" href="https://www.residentadvisor.net/dj/genefarris/biography
" target="_blank">
                            <h2>Gene Farris</h2>
                            <p>(Dirtybird) <br><br>Hosted by: Paradigm x Paxahau</p>
                        </a>
                    </div>

                    <div>
                        <img src="../static/img/JRocc.jpg" alt="">
                        <a class="overlay" href="https://www.beatjunkies.com/crew/
" target="_blank">
                            <h2>J Rocc</h2>
                            <p>(Beat Junkies/Stones Throw) <br><br>Hosted by: 1833</p>
                        </a>
                    </div>

                    <div>

                        <img src="../static/img/Just_Blaze_720x720.jpg" alt="">
                        <a class="overlay" href="https://en.wikipedia.org/wiki/Just_Blaze
" target="_blank">
                            <h2>Just Blaze</h2>
                            <p>(Fort Knocks) <br><br>Hosted by: Cold Chillen</p>
                        </a>
                    </div>



                    <div>
                        <img src="../static/img/SaharHabibi.jpg" alt="">
                        <div class="overlay">
                            <h2>Sahar Habibi</h2>
                            <p>(Soulection) <br><br>Hosted by: Roxwell</p>
                        </div>
                    </div>
                    <div>
                        <img src="../static/img/RaeChardonnay.jpg" alt="">
                        <div class="overlay">
                            <h2>Rae Chardonnay</h2>
                            <p>(Party Noir) <br><br>Hosted by: Roxwell</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="mobile-section RSVP">
            <div class="mobile-header">
                <img src="../static/vectors/RSVP/RSVPspeechbubble.svg" alt="">
                <img src="../static/vectors/RSVP/RSVPletter.svg" alt="">
                <img src="../static/vectors/RSVP/RSVPphone.svg" alt="">
                <h2>RSVP</h2>
            </div>
            <div class="mobile-body fifth">
                <form action="/form_input" method="POST" class="lax">
                    {% csrf_token %}
                    <div class = 'first'>
                        <p>First Name*</p><input name="first_name" type="text"></div>
                    <div class = 'last'>
                        <p>Last Name*</p><input name="last_name" type="text"></div>
                    <div class='email'>
                        <p>Email*</p><input name="email" type="text"></div>
                    <div class='cell'>
                        <p>Cell Phone*</p><input name="phone" type="text"></div>
                    <div class="">
                        <p>Industry Affiliation</p><input name="affiliation" type="text">
                    </div>
                    <div class="">
                        <p>Who extended your invitation?</p><input name="referall" type="text">
                    </div>
                    <div class='long'>
                        <p>Must have valid wristband to RSVP.</p>
                        <div class='checkboxes'>


                            <span>Yes</span>
                            <div name='yes' class='fakebox'>
                                <div class='check hide'></div>
                            </div>
                            <input name='yes' type="checkbox" checked>
                            <span>No</span>
                            <div name='no' class='fakebox'>
                                <div class="check hide"></div>
                            </div>
                            <input name='no' type="checkbox">

                        </div>

                    </div>
                    <div class="long">
                        <p class='invitation-text'>Wristband number*</p><input name="invitation" type="text" class='invitation'></div>
                    <div class='submit'><button type='button' name='button'>SUBMIT</button></div>
                </form>

                <div class="subtext">
                    <p>Red Bull Curates: Villa Riad is​ ​a private event​ ​intended for members of the Nightlife + Hospitality industries.</p>
                    <br>
                    <p>Please make sure to list your affiliation on the RSVP form.​ ​Guests should have a wristband invite and must RSVP to gain access. Please make sure to include the invite number located on your invite wristband.</p>
                </div>
            </div>
        </div>

    </div>

    <script src="../static/js/checkboxes.js"></script>
    <script src="../static/js/mobile.js"></script>

</body>

</html>
