<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = 'stylesheet' href = "{% static 'css/singleimage.css' %}">
</head>
<body>
    <div class= 'footer'>
        <a href="/gallery">Back</a>
<!--        <a href = "{{image}}" download = "{{image}}">Download</a>-->
    </div>
    
    <img src="{% static image %}" alt="{{image}}" onclick="">
</body>
</html>
