<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Villa Riad Update</title>
</head>
<body>
    This is a test of the update email.  We will replace this text with the update email body.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio est harum, tempore non 
    saepe excepturi dolorum assumenda, explicabo voluptatibus animi, consequatur dignissimos dolor 
    quasi perspiciatis possimus autem officia voluptas quae!

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio est harum, tempore non 
    saepe excepturi dolorum assumenda, explicabo voluptatibus animi, consequatur dignissimos dolor 
    quasi perspiciatis possimus autem officia voluptas quae!

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio est harum, tempore non 
    saepe excepturi dolorum assumenda, explicabo voluptatibus animi, consequatur dignissimos dolor 
    quasi perspiciatis possimus autem officia voluptas quae!

</body>
</html>