<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        background-color: linen;
    }
    
    .user {
        background-color: rgb(128, 192, 211);
        padding: 20px;
    } 
    p {
        color : black;
        font-size: 28px;
    }
    strong {
        color: black;
        font-size: 14px;
    }
    </style>
<body>
    <a href = "/display_users"> Users w/ wristbands</a>
    
    <form action ="/waitlist_filtered" method="post">
        {% csrf_token %}
        <p>Search By Last Name:  <input type="text" name="last_name"></p>
        <p>Search By Invitation Number:  <input type="text" name="invitation"></p>
        <input type="submit">
    </form>
    <form action ='/waitlist' method ="post">
        {% csrf_token %}
        <input type="submit" value ="Display full waitlist">
    </form>
    <h1>Waitlist</h1>
    {% for user in users %}
    <hr>
    <div class="user">
    <p><strong>Name:</strong>{{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong>{{user.email}}</p>
    <p><strong>Created At:</strong>{{user.created_at}}</p>
    <p><strong>ID:</strong>{{user.id}}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>